body {
    margin: 0;
    height: 100%;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

header {
    background-color: #BF092F;
    width: 100%;
    margin-bottom: 5%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sprite {
    background-image: url("img/sprite-test") 0 0;
}

#app-container {
    border: black solid 1px;
    width: 90%;
    min-height: 20rem;
    max-height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(177, 230, 255);
    padding: 1rem;
}

.app-header {
    width: 100%;
    font-size: 30px;
    margin-bottom: 2%;
}

#app-body {
    width: 100%;
    min-height: 5rem;
    max-height: 20rem;
    /* background-color: #BF092F; */
    margin-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2%;
    flex-wrap: wrap;
    padding: 1rem;
    overflow: auto;
}

.div-container {
    background-color: rgb(209, 252, 255);
    border: 1px solid black;
    position: relative;
    display: flex;
    align-items: center;
    height: 30%;
    width: 100%;
    border-radius: 12px;
    padding: 0.5rem;
}

input[type="checkbox"] {
    cursor: pointer;
}

.del-task {
    background-color: rgb(255, 16, 16);
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: pointer;
    border: 1px solid black;
}

.del-task:hover {
    background-color: rgb(216, 11, 11);
}

.checked {
    text-decoration: line-through;
    background-color: rgb(172, 219, 221);
}

#app-input {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 1%;
}

#app-input input {
    width: 30%;
    height: 2rem;
    border-radius: 12px;
    border: black solid 1px;
}

#app-input button {
    border-radius: 8px;
    height: 2rem;
    width: 5rem;
    background-color: white;
    border: black solid 1px;
}


